<form autocomplete="on" (ngSubmit)="submitForm()" [formGroup]="myForm" class="mt-2">
  <fieldset class="fieldset border-base-300 rounded-box w-full border p-4 bg-(--my-color3)/20">
    <legend
      style="font-family: 'elegant'"
      class="fieldset-legend text-(--my-text) text-xl -translate-1"
    >
      Turno de terapia
    </legend>
    <div class="grid grid-cols-1 md:grid-cols-6">
      <div class="md:col-span-3 space-y-3">
        <!-- Name and surname -->
        <app-input-text
          label="Nombre y apellido"
          [myForm]="myForm"
          name="name"
          autocomplete="name"
        />

        <!-- Email -->
        <app-input-text
          label="E-mail"
          [myForm]="myForm"
          name="email"
          type="email"
          autocomplete="email"
        />

        <!-- Country -->
        <app-input-select
          [myForm]="myForm"
          name="country"
          label="País de residencia"
          [selectOptions]="countries()"
          defaultOption="-- Selecciona un país --"
        />

        <!-- Teléfono celular -->
        <app-input-text
          label="Teléfono celular"
          [myForm]="myForm"
          name="phone"
          type="tel"
          autocomplete="phone"
        />

        <!-- Motivo de consulta -->
        <app-input-textarea
          [myForm]="myForm"
          name="reason"
          label="¿Cuál es tu motivo de consulta?"
          placeholder="Breve descripción del motivo de consulta"
        />

        <!-- Admission or not -->
        <app-input-radio
          [myForm]="myForm"
          name="admission"
          question="¿Ya realizaste una entrevista de admisión??"
          [options]="[
            {
              label: 'Sí, quiero continuar con un profesional',
              value: 'Ya realizo una entrevista de admisión'
            },
            {
              label: 'No, necesito hacer la admisión primero',
              value: 'Necesita entrevista de admisión'
            }
          ]"
        />
      </div>
      <div class="md:col-span-3 space-y-3">
        <!-- hasDiagnose or not -->
        <app-input-radio
          (actionChange)="setValidators()"
          [myForm]="myForm"
          name="hasDiagnose"
          question="¿Tenés diagnóstico?"
          [options]="[
            { label: 'Sí', value: hasDiagnose.HAS_DIAGNOSE },
            { label: 'No', value: hasDiagnose.NO_DIAGNOSE }
          ]"
        />

        @if(myForm.value.hasDiagnose === hasDiagnose.HAS_DIAGNOSE) {
        <!-- diagnose -->
        <app-input-text
          label="¿Qué diagnóstico tiene?"
          [myForm]="myForm"
          name="diagnose"
          autocomplete=""
        />
        }

        <!-- For you or not -->
        <app-input-radio
          [myForm]="myForm"
          name="appointmentFor"
          question="¿Buscás turno para vos o para otra persona (ej. tu hijo/a)?"
          [options]="[
            { label: 'Para mí', value: 'Para mí' },
            { label: 'Para otra persona', value: 'Para otra persona' }
          ]"
        />

        <!-- Age of the person -->
        <app-input-number
          label="Edad"
          placeholder="Edad de la persona que recibirá la terapia"
          [myForm]="myForm"
          name="age"
        />

        <!-- Contact Preference -->
        <app-input-radio
          [myForm]="myForm"
          name="contactPreference"
          question="¿Cuál es tu preferencia de contacto?"
          [options]="[
            { label: 'WhatsApp', value: 'WhatsApp' },
            { label: 'Correo electrónico', value: 'Correo electrónico' }
          ]"
        />
        @if(!submited()){
        <button
          class="w-full bg-(--my-color3)/70 px-6 py-3 rounded-md hover:bg-(--my-color3) transition text-(--my-text)"
          type="submit"
        >
          QUIERO SOLICITAR UN TURNO</button
        >} @if(submited()){
        <alert-success
          text="Gracias por contactarte. Nos comunicaremos por WhatsApp o correo electrónico para coordinar tu turno."
        />
        }
      </div>
    </div>
  </fieldset>
</form>
