<footer class="footer sm:footer-horizontal bg-(--my-color2) text-neutral-content p-10 mt-7">
  <nav>
    <h6 class="footer-title">MEDIOS DE CONTACTO</h6>
    <a
      class="link link-hover"
      href="https://www.youtube.com/@psicovalgodoy"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="flex gap-3"><youtube-icon />@psicovaldogoy</span></a
    >
    <a
      class="link link-hover"
      href="https://www.tiktok.com/@psicovalgodoy"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="flex gap-3"><tiktok-icon />@psicovaldogoy</span></a
    >
    <a
      class="link link-hover"
      href="https://www.instagram.com/psicovalgodoy/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="flex gap-3"><instagram-icon />@psicovalgodoy</span></a
    >
    <a
      class="link link-hover"
      href="https://wa.me/541131242384"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="flex gap-3"><whatsapp-icon />+54 11 3124-2384</span></a
    >
  </nav>
</footer>
