<app-title title="Contacto" />
<div class="flex flex-col space-x-3 gap-2.5 content-center w-full">
  <button
    (click)="openEvaluationForm(formtypes.EVALUATION)"
    class="w-full bg-(--my-color1)/70 px-6 py-3 rounded-md hover:bg-(--my-color1) transition text-(--my-text)"
  >
    QUIERO INICIAR EVALUACION
  </button>
  <button
    (click)="openEvaluationForm(formtypes.THERAPY)"
    class="w-full bg-(--my-color3)/70 px-6 py-3 rounded-md hover:bg-(--my-color3) transition text-(--my-text)"
  >
    QUIERO PEDIR TURNO DE TERAPIA
  </button>
</div>

@if (form()=== formtypes.EVALUATION) {
<evaluation-form />
} @if (form()=== formtypes.THERAPY) {
<therapy-form />
}
