<a href="https://www.youtube.com/@psicovalgodoy" target="_blank" rel="noopener noreferrer">
  <button class="btn btn-circle">
    <youtube-icon />
  </button>
</a>
<a href="https://www.tiktok.com/@psicovalgodoy" target="_blank" rel="noopener noreferrer">
  <button class="btn btn-circle">
    <tiktok-icon />
  </button>
</a>
<a href="https://www.instagram.com/psicovalgodoy/" target="_blank" rel="noopener noreferrer">
  <button class="btn btn-circle">
    <instagram-icon />
  </button>
</a>
<a href="https://wa.me/541131242384" target="_blank" rel="noopener noreferrer">
  <button class="btn btn-circle">
    <whatsapp-icon />
  </button>
</a>
