<app-title title="Servicios" />
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4">
  @for (service of servicesTexts; track service.title; let i = $index) {
    <button (click)="changeState(service.screen)" [class]="['p-3', 'btn', colorChange(i)]">
      {{ service.title }}
    </button>
  }
</div>

@if (state()) {
  <div class="hero bg-mauve-50 mt-4 rounded-xl p-3">
    @switch (state()) {
      @case (description.autismo) {
        <description-autismo />
      }
      @case (description.tdah) {
        <description-tdah />
      }
      @case (description.tcc) {
        <description-tcc />
      }
      @case (description.aacc) {
        <description-aacc />
      }
      @case (description.toc) {
        <description-toc />
      }
      @case (description.supervisiones) {
        <description-supervisiones />
      }
      @case (description.capacitaciones) {
        <description-capacitaciones />
      }
      @case (description.integrales) {
        <description-integrales />
      }
    }
  </div>
}
