/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@font-face {
  font-family: 'elegant';
  src: url('../public/assets/fonts/DancingScript-VariableFont_wght.ttf');
}

@plugin "daisyui" {
  themes: light --default;
}

:root {
  --my-color1: #dbb1b2;
  --my-error: #da7a7c;
  --my-color2: #808080;
  --my-color3: #cecdca;
  --my-color4: #d6c8ad;
  --my-text: #3f3f3f;

}
