/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@font-face {
  font-family: 'elegant';
  src: url('../public/assets/fonts/DancingScript-VariableFont_wght.ttf');
}

@plugin "daisyui" {
  themes: light --default;
}

body {
  /* Ruta de la imagen tomando en cuenta la carpeta assets */
  background-image: url('./assets/background.jpg'); 
  
  /* La imagen cubre todo el tamaño sin deformarse */
  background-size: cover; 
  
  /* Centra la imagen en la pantalla */
  background-position: center center; 
  
  /* Evita que la imagen se repita como mosaico */
  background-repeat: no-repeat; 
  
  /* Mantiene la imagen fija al hacer scroll */
  background-attachment: fixed; 
}

:root {
  --my-color1: #dbb1b2;
  --my-color2: #d6c8ad;
  --my-color3: #cecdca;
  --dark-grey: #808080;
  --my-success: #add6ba;
  --my-error: #da7a7c;
  --my-text: #3f3f3f;
  --gradient: linear-gradient(90deg,rgba(214, 200, 173, 1) 0%, rgba(237, 221, 83, 0) 100%);
}
